<div class="container_home">
  <div class="col-sm-12 col-md-6">
    <div class="every_day_container">
      <div class="every_day_container_heading">
        NEW EVERY DAY
      </div>
    </div>
    <div class="personal_message_container">
      , here is your workout for today!
    </div>

    <div class="container-videos">
      <div class="inspration_container">
        <div class="inspiration_container_heading">
          INSPIRATION
        </div>
      </div>
      <div class="asna-rebel-suggestion">
        try <%= link_to "Asana Rebel", "https://asanarebel.com/de/" %> today
      </div>

      <div class="api-videos">
        <li style="list-style-type: none; margin-bottom: 20px;" id="results"></li>
      </div>

    </div>
  </div>
</div>
