<div class="container_home">
  <div class="col-sm-12 col-md-6">
    <div class="every_day_container">
      <div class="every_day_container_heading">
        NEW EVERY DAY
      </div>
    </div>
    <div class="personal_message_container">
      , here is your workout for today!
    </div>


<section>
  <div class="container-google-login">
    <div class="google-login-heading">
      Log in with google
    </div>
    <button class="btn red" id="authorize-button">Log In</button>
    <button class="btn red" id="signout-button">Log Out</button>
    <br>
    <div id="content">
      <div class="row">
        <div class="col s6">
          <form id="channel-form">
            <div class="input-field col s6">
              <input type="text" placeholder="search yoga channel" id="channel-input">
              <input type="submit" value="Get Channel Data" class="btn grey lighten-2">
            </div>
          </form>
        </div>
      <div id="channel-data" class="col s6"></div>
      </div>
      <div class="row" id="video-container"></div>
    </div>
  </div>
</section>







    <div class="container-videos">
      <div class="inspration_container">
        <div class="inspiration_container_heading">
          INSPIRATION
        </div>
      </div>
      <div class="asna-rebel-suggestion">
        try <%= link_to "Asana Rebel", "https://asanarebel.com/de/" %> today
      </div>

      <div class="api-videos">
        <li style="list-style-type: none; margin-bottom: 20px;" id="results"></li>
      </div>

    </div>
  </div>
</div>
